@import url('https://fonts.googleapis.com/css?family=Bitter|Cantarell|Days+One');

*{
  margin:0;
  padding:0;
}
.logo{
  position:relative;
  width:100%;
  height:70px;
  font-family: 'Days One', sans-serif;
}
.w3{
  position:absolute;
  bottom:10%;
  font-size:30px;
  left:10px;
  
}
.w3 a{
  color:#333;
  text-decoration:none;
}
.com a{
  color:green;
  left:-10px;
  position:relative;
}
.title{
  position:absolute;
  right:20px;
  bottom:15%;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
}
.header{
  width:100%;
  height:60px;
  background-color:green;
  position:relative;
}
.menu li{
  display:inline-table;
  position:relative;
  letter-spacing:3px;
  width: 170px;
  height: 60px;
  line-height:60px;
 
 
}
.menu li a{
  text-decoration:none;
  color:white;
  display:block;
  text-align:center;
}
.menu a:hover{
  color:black;
  background-color:white;
}
.icon{
  
    position:absolute;
    right:20px;
    bottom:20%;
}
.icon a{
   font-size: 20px;
   color: white;
   margin: 20px;
   width: 20%;
   

}
.icon a:hover{
  color: black;
  background-color: white;
}